html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    background-color: lightslategray;
}

canvas {
    display: block;
    margin: auto;
    margin-top: 60px;
}
/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 800px;
    height: 550px;
}