html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    background-color: lightslategray;
}

#canvas {
    /*position: absolute;*/
    display: block;
    width: 800px;
    height: 550px;
    margin: auto;
    margin-top: -550px;
}

#gridlayer {
    display: block;
    width: 800px;
    height: 550px;
    margin: auto;
    margin-top: 60px;
}